td.east {
	color: orange;
}

td.west {
	color: green;
}

td.mw {
	color: red;
}

td.uk {
	color: blue;
}

td.edge {
	border-right-style: groove;
}

[class="1"] { background: rgba(0, 255, 0, .2); } #green
[class="2"] { background: rgba(255, 0, 0, .2); } #red
[class="3"] { background: rgba(255, 165, 0, .2); } #orange
[class="4"] { background: rgba(0, 0, 255, .2); } #blue