td.east a {
	color: orange;
}

td.west a {
	color: green;
}

td.mw a {
	color: red;
}

td.uk a {
	color: blue;
}

td.plus {
	border-right-style: groove;
	color: rgb(0, 204, 0)
}

td.edge {
	border-right-style: groove;
}

td.minus {
	color: rgb(204, 0, 0);
}

[class="1"] { background: rgba(0, 255, 0, .2); }
[class="2"] { background: rgba(255, 0, 0, .2); }
[class="3"] { background: rgba(255, 165, 0, .2); }
[class="4"] { background: rgba(0, 0, 255, .2); }

span.success {
	color: green;
}

span.error {
	color: red;
}